body {
  height: 100vh;
  width: 100vw;
  display: block;
  margin: 0;
  overflow: hidden;
}

/* Text */
h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
}

h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  color: black;
}

h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  color: black;
}

p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  color: black;
}

/* Home Screen */

/* Main Divs */
.top {
  height: 15%;
  width: 100%;
  display: block;
}

.info-box {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.parts {
  height: 70%;
  width: 100%;
  display: block;
  position: relative;
}

.row {
  height: 50%;
  width: 100%;
  display: flex;
}

.quadrant {
  height: 100%;
  width: 50%;
  display: flex;
}

.part-box {
  height: 100%;
  width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-left: 3%;
  padding-right: 3%;
  gap: 3%;
}

.bottom {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: green;
}

.mobile-part-div {
  position: relative;
  height: auto;
  width: 100%;
  display: block;
  flex-direction: column;
  align-items: center;
}

/* Overlays */
.parts-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(4px);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  opacity: 1;
  transition: opacity 0.4s ease;
  pointer-events: auto;

  z-index: 10;
}

.parts-overlay.fade-out {
  opacity: 0;
  pointer-events: none; /* prevents clicks during fade */
}

.incompatible-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  z-index: 10;
}

/* Inputs */

.budget {
  position: absolute;
  left: 3%;
  height: 30%;
  width: 125px;
  border-radius: 10px;
  padding: 5px;
  border: none;
}

.test {
  height: 50%;
  width: 200px;
  border-radius: 10px;
  padding: 5px;
  z-index: 1;
}

.price-info {
  position: absolute;
  right: 3%;
  top: 9%;
  height: 100%;
  width: 20%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  line-height: 1.1;
}

.partbutton {
  height: 15%;
  width: 85%;
  border-radius: 10px;

  margin-top: auto;
  margin-bottom: 35px;
}

/* Text */

.price-info p {
  margin-bottom: 0;
}

.price-info h1 {
  margin-top: 0;
}

.mobile-part-div p {
  text-align: center;
  font-size: 2.3vh;
}

.mobile-part-div h1 {
  text-align: center;
  font-size: 2.5vh;
  margin-top: 0px;
  margin-bottom: 10px;
}

.mobile-part-div h3 {
  text-align: center;
  font-size: 1.75vh;
  margin: 0;
  color: black;
}

.parts-overlay h1 {
  font-size: 4vh;
  font-weight: 400;
  padding: 20px;
  color: red;
}

/* Images */
.partimg {
  max-height: 30%;
  aspect-ratio: 1;
  object-fit: cover;
}

/* Effects */
.blurout {
  filter: blur(3px);
  opacity: 90%;
}

button:disabled {
  background-color: white;
  color: rgb(200, 200, 200);
  opacity: 90%;
  outline: none;
}

button:not(:disabled):hover {
  transform: scale(1.03);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);
}

button:not(:disabled):active {
  transform: scale(0.95);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

button {
  transition: transform 0.1s ease, box-shadow 0.1s ease, filter 0.1s ease;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);

  cursor: pointer;
  background-color: rgb(0, 148, 247);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5vh;
  font-weight: 400;
  color: white;
  outline: none;
  border: none;
}

.push-to-bottom {
  order: 999;
}
.budget:invalid {
  border: 1px solid red;
  background-color: #ffe6e6;
}

.budget:valid {
  border: 1px solid green;
  background-color: #e9ffe9;
}

.budget::-webkit-inner-spin-button,
.budget::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.budget {
  -moz-appearance: textfield;
}

.no-scroll {
  overflow: hidden;
}

.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
}
/* Colors */

.primary {
  background-color: rgb(240, 240, 240);
}

.secondary {
  background-color: rgb(196, 196, 196);
}

.tertiary {
  background-color: rgb(233, 233, 233);
}

/* Part Selection Pop Up */
.prompt-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.35s ease;
  z-index: 9999;
}

.prompt-overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.hidden {
  display: none !important;
}

.prompt-content {
  background: white;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 12px;
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

.prompt-header {
  width: 100%;
  position: relative;
  padding-top: 10px;
  padding-bottom: 5px;
}

.parts-prompt {
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  height: auto;
  gap: 15px;
  display: flex;
  flex-direction: column;
  width: 95%;
}

.individual-part {
  padding-top: 2%;
  padding-bottom: 2%;
  gap: 5%;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 2px solid rgb(119, 119, 119);
  filter: drop-shadow(3px 5px 6px rgb(0, 0, 0, 0.5));
}

.prompt-close {
  position: absolute;
  top: 10px;
  right: 10px;

  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;

  background: rgba(0, 0, 0, 0.15);
  color: black;
  font-size: 20px;
  font-weight: bold;

  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: background 0.2s, transform 0.1s;
}

.part-image-div {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.part-image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.part-info {
  margin-left: 5px;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.part-specifications {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.part-s-title {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.part-s-categories {
  width: 100%;
  height: 70%;
  display: flex;
  margin-top: 3%;
  gap: 5%;
  flex-direction: row;
}
.part-mobile-individual-category,
.part-individual-category {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.part-select-div {
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.part-select {
  height: 35%;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(147, 196, 125);
  color: black;
  font-weight: 500;
  font-size: 2.8vh;
  border: 2px solid rgb(119, 119, 119);
}

.part-row1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 1%;
}

.part-row2 {
  margin-left: 2%;
  display: none;
  flex-direction: column;
  height: 50%;
  width: 100%;
}
/* Close Button Effects */

.prompt-close:hover {
  background: rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
}

.prompt-close:active {
  transform: scale(0.95);
}

/* Text for Prompts */

.prompt-header h1,
.prompt-header p {
  margin: 0;
  text-align: center;
}

.individual-part h1 {
  font-size: 3vh;
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 0px;
  color: black;
}

.part-info h1 {
  font-size: 3.5vh;
  font-weight: 600;
  text-align: left;
}

.part-info p {
  font-size: 2vh;
  font-weight: 400;
  text-align: left;
}

.part-specifications p {
  font-size: 1.8vh;
  font-weight: 400;
  text-align: left;
}

.part-s-title h1 {
  font-size: 2.3vh;
  font-weight: 400;
  text-align: left;
}

.part-mobile-individual-category p,
.part-individual-category p {
  font-size: 3vh;
  font-weight: 400;
  text-align: left;
}

.part-mobile-individual-category h1,
.part-individual-category h1 {
  font-size: 3vh;
  font-weight: 600;
  text-align: left;
}

.incompatible-overlay h1 {
  font-size: 3.5vh;
  font-weight: 600;
  color: rgb(204, 0, 0);
}

.incompatible-overlay p {
  font-size: 2vh;
  font-weight: 400;
  color: rgb(204, 0, 0);
}

/* Results */
.results-content {
  background: white;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 12px;
  gap: 5%;
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

.games {
  height: auto;
  width: 95%;
  display: flex;
  gap: 2%;
}

.half-games {
  height: 100%;
  width: 50%;
  gap: 5%;
  display: flex;
}

.game {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.game-image {
  height: auto;
  width: 100%;
}

.results-section {
  width: 100%;
  height: 15%;
}

.results-section h1 {
  font-size: 4vh;
  font-weight: 600;
  margin-bottom: 2%;
}

.results-section h2 {
  font-size: 7vh;
  font-weight: 700;
  margin-top: 0;
}

.green {
  color: green;
}

.okay {
  color: yellowgreen;
}

.bad {
  color: orange;
}

.terrible {
  color: red;
}

@media only screen and (max-width: 800px) {
  /* Home Screen */
  .row {
    height: 100%;
    width: 100%;
    display: block;
  }

  .quadrant {
    height: 50%;
    width: 100%;
    display: flex;
  }

  .part-box {
    height: 100%;
    width: 50%;
    display: flex;
  }

  .parts {
    flex: 1;
    display: block;
    position: relative;
    scrollbar-gutter: stable overlay;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
    scroll-behavior: smooth;
  }

  .mobile-part-div p {
    font-size: 2vh;
  }

  .mobile-part-div h1 {
    font-size: 2.5vh;
  }

  .mobile-part-div h3 {
    font-size: 1.75vh;
  }
  /* Part Selection Pop Up */
  .part-info {
    width: 50%;
  }

  .part-specifications {
    display: none;
  }

  .part-image-div {
    width: 25%;
  }

  .part-select-div {
    width: 20%;
  }

  .part-row1 {
    height: 50%;
  }

  .part-row2 {
    display: flex;
  }

  /* Results */
  .games {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .half-games {
    height: 50%;
    width: 100%;
    gap: 40%;
  }

  .game {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .game-image {
    height: auto;
    width: 100%;
  }

  .results-section h1 {
    font-size: 3vh;
    font-weight: 600;
    margin-bottom: 2%;
  }

  .results-section h2 {
    font-size: 6vh;
    font-weight: 700;
    margin-top: 0;
  }
}

@media only screen and (max-width: 550px) {
  /* Home Screen */
  .row {
    height: 125%;
    width: 100%;
    display: block;
  }

  .quadrant {
    height: 50%;
    width: 100%;
    display: block;
  }

  .part-box {
    height: 50%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-left: 3%;
    padding-right: 3%;
  }

  .parts {
    flex: 1;
    display: block;
    position: relative;
    scrollbar-gutter: stable overlay;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
    scroll-behavior: smooth;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 3px;
  }

  .budget {
    position: static;
    height: 10%;
    width: 150px;
  }

  .price-info {
    position: static;
    width: 200px;
  }

  .test {
    height: 30%;
    width: 200px;
    border-radius: 10px;
    padding: 5px;
    z-index: 1;
  }

  .price-info {
    position: static;
    height: auto;
    width: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.1;
  }

  .price-info p {
    font-size: 10px;
  }

  .price-info h1 {
    font-size: 15px;
  }

  .partbutton {
    height: 30%;
    width: 30%;
    border-radius: 10px;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 35px;
  }

  .mobile-part-div {
    position: relative;
    height: auto;
    width: 60%;
    display: block;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
  }

  .mobile-part-div p {
    text-align: left;
    font-size: 2.3vh;
  }

  .mobile-part-div h1 {
    text-align: left;
    font-size: 3.5vh;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .mobile-part-div h3 {
    text-align: left;
    font-size: 1.75vh;
  }

  /* Part Selection Pop Up */
  .part-image-div {
    width: 20%;
  }

  .part-info h1 {
    font-size: 2.25vh;
  }

  .part-info p {
    font-size: 1.5vh;
  }

  .part-select-div {
    width: 25%;
  }

  .part-select {
    padding-top: 5%;
    padding-bottom: 5%;
    height: auto;
    font-size: 1.7vh;
  }

  .part-s-title h1 {
    font-size: 2vh;
    font-weight: 400;
    text-align: left;
  }

  .individual-part {
    padding-bottom: 5%;
  }

  .part-mobile-individual-category p,
  .part-individual-category p {
    font-size: 3vh;
  }

  .part-mobile-individual-category h1,
  .part-individual-category h1 {
    font-size: 2vh;
  }

  /* Results */
  .half-games {
    display: contents;
  }
}
